!!!
%html
  %head
    %title Init Sinatra
    %link{:href => "css/style.css", :rel => "stylesheet", :type => "text/css"}
  %body
    #main
      %p=link_to 'Home', '/'
      = yield
    %script{src:'js/script.js'}
