body {
  margin: 0;
  font: 16px Helvetica, arial, freesans, clean, sans-serif;
  line-height: 18px;
  color: #333333;
}
#main {
  width: 100%;
  max-width: 750px;
  margin: 0 auto;
  a {
    display: inline-block;
    margin: 25px 0 0;
    padding: 5px 25px;
    background-color: #F5F5F5;
    color: #333;
    text-decoration: none;
  }
  h1, h2 {
    font-size: 30px;
    line-height: 36px;
    margin-top: 1.3em;
    margin-bottom: 30px;
    border-bottom: 1px solid #eee;
  }
  h2 {
    font-size: 24px;
  }
  p {
    line-height: 1.3em;
    margin-bottom: 1.2em;
    margin: 0 0 9px;
  }
  pre {
    display: block;
    padding: 8.5px;
    font-size: 12.025px;
    line-height: 18px;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
  }
  code {
    padding: 2px 4px;
    color: #d14;
    background-color: #f7f7f9;
    border: 1px solid #e1e1e8;
  }
  pre code {
    padding: 0;
    color: inherit;
    background-color: transparent;
    border: 0;
  }
  table {
    width: 100%;
  }
  table  th{
    padding: 5px 10px;
    border: solid 1px #eee;
    background-color: #ddd;
    text-align: right;
    font-weight: normal;
  }
  table td {
    padding: 5px 10px;
    border: solid 1px #eee;
  }
}
